:root {
  --padding: 2rem;
  --slider-width-mobile: calc(100vw - 4 * var(--padding));
  --slider-width-desktop: 55vw;
  --footer-width-mobile: calc(100vw - 2 * var(--padding));
  --footer-width-desktop: calc(55vw + 4rem);
  --red: #f21b18;
  --yellow: #f8b746;
  --blue: #1ab2f4;
}

html {
  background-color: #B074E9;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

main {
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 var(--padding);
}

.wrapper {
  margin-bottom: 1rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19), 0 0.375rem 0.375rem rgba(0, 0, 0, 0.23);
  background-color: #F3F74D;
  border-radius: 0.5rem;
}

.slider, .slide, .meme {
  width: var(--slider-width-mobile);
  @media (min-width: 768px) {
    max-width: var(--slider-width-desktop);
  }
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: all 1s ease-out;
}

.slide {
}

.caption-wrapper {
  width: 100%;
}

.captions {
}

.caption {
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 1s ease-in-out;
  overflow: hidden;
}

.control-1:checked~.footer .caption-wrapper .captions .caption-1,
.control-2:checked~.footer .caption-wrapper .captions .caption-2,
.control-3:checked~.footer .caption-wrapper .captions .caption-3,
.control-4:checked~.footer .caption-wrapper .captions .caption-4 {
  height: auto;
  width: 100%;
  opacity: 100%;
  transition: opacity 1s ease-in-out;
}

.meme {
  border-radius: 0.5rem;
}

.footer {
  width: var(--footer-width-mobile);
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.19), 0  0.375rem 0.375rem rgba(0, 0, 0, 0.23);


  @media (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    max-width: var(--footer-width-desktop);
  }
}

input[type='radio'] {
  display: none;
}

.controls {
  width: fit-content;
  margin: 0 auto;
  display: flex;

  @media (min-width: 768px) {
    margin: 0;
  }
}

.label {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-out;
}

.label span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 50%;
}

.label:active {
  background-color: black;
  outline: none;
}

.label-1:hover,
.label-4:hover {
  background-color: rgba(241, 26, 22, 0.5);
}

.label-2:hover {
  background-color: rgba(26, 178, 244, 0.5);
}

.label-3:hover {
  background-color: rgba(248, 183, 70, 0.5);
}

.label-1:active, .label-4:active {
  background-color: var(--red);
}

.label-2:active {
  background-color: var(--blue);
}

.label-3:active {
  background-color: var(--yellow);
}

.label-1 span, .label-4 span{
  background-color: var(--red);
  outline: 0.2rem solid var(--red);
}

.label-2 span {
  background-color: var(--blue);
  outline: 0.2rem solid var(--blue);
}

.label-3 span {
  background-color: var(--yellow);
  outline: 0.2rem solid var(--yellow);
}

.control-1:checked~.footer .controls .label-1 span, 
.control-2:checked~.footer .controls .label-2 span, 
.control-3:checked~.footer .controls .label-3 span, 
.control-4:checked~.footer .controls .label-4 span {
  background-color: transparent;
}

.control-1:checked~.wrapper .slider .slides {
  transform: translateX(0);
}

.control-2:checked~.wrapper .slider .slides {
  transform: translateX(-100%);

}

.control-3:checked~.wrapper .slider .slides {
  transform: translateX(-200%);
}

.control-4:checked~.wrapper .slider .slides {
  transform: translateX(-300%);
}
